<?xml version="1.0" encoding="UTF-8"?>
<serverendpoints>
		<server>
			<id>SGIP-test</id>
			<desc>服务端</desc>
			<!-- CMPP ,SMPP ,SMGP,SGIP -->
			<channelType>SGIP</channelType>
			<host>0.0.0.0</host>
			<port>16890</port>
			<endpoints>
				<endpoint>
					<id>SGIPs1-test</id>
					<isvalid>true</isvalid>
					<user>test01</user>
					<passwd>1qaz2wsx</passwd>
					<nodeId>322323</nodeId>
					<maxChannels>200</maxChannels>
					<businessHandlerSet>
						<handler>com.zx.sms.handler.api.smsbiz.SGIPMessageReceiveHandler
						</handler>
					</businessHandlerSet>
				</endpoint>
			</endpoints>
		</server>
		<server>
			<id>CMPP-test</id>
			<desc>服务端</desc>
			<!-- CMPP ,SMPP ,SMGP,SGIP -->
			<channelType>CMPP</channelType>
			<host>0.0.0.0</host>
			<port>17890</port>
			<endpoints>
				<endpoint>
					<id>CMPPs1-test</id>
					<isvalid>true</isvalid>
					<user>test01</user>
					<passwd>1qaz2wsx</passwd>
					<version>32</version>
					<maxChannels>200</maxChannels>
					<businessHandlerSet>
						<handler>com.zx.sms.handler.api.smsbiz.CMPPMessageReceiveHandler
						</handler>
					</businessHandlerSet>
				</endpoint>
			</endpoints>
		</server>
		<server>
			<id>SMPP-test</id>
			<desc>服务端</desc>
			<!-- CMPP ,SMPP ,SMGP,SGIP -->
			<channelType>SMPP</channelType>
			<host>0.0.0.0</host>
			<port>18890</port>
			<endpoints>
				<endpoint>
					<id>SMPPs1-test</id>
					<isvalid>true</isvalid>
					<user>test01</user>
					<passwd>1qaz2wsx</passwd>
					<maxChannels>200</maxChannels>
					<businessHandlerSet>
						<handler>com.zx.sms.handler.api.smsbiz.SMPPMessageReceiveHandler
						</handler>
					</businessHandlerSet>
				</endpoint>
			</endpoints>
		</server>
		<server>
			<id>SMGP-test</id>
			<desc>服务端</desc>
			<!-- CMPP ,SMPP ,SMGP,SGIP -->
			<channelType>SMGP</channelType>
			<host>0.0.0.0</host>
			<port>19890</port>
			<endpoints>
				<endpoint>
					<id>SMGPs1-test</id>
					<isvalid>true</isvalid>
					<user>test01</user>
					<passwd>1qaz2wsx</passwd>
					<version>48</version>
					<maxChannels>200</maxChannels>
					<businessHandlerSet>
						<handler>com.zx.sms.handler.api.smsbiz.SMGPMessageReceiveHandler
						</handler>
					</businessHandlerSet>
				</endpoint>
			</endpoints>
		</server>
</serverendpoints>